# media folders
/wp-content/blogs.dir/*
/wp-content/upgrade/*
/wp-content/uploads/*

#.htaccess
wp-content/plugins/admin-menu-editor/includes/.htaccess
wp-content/plugins/oauth2-provider/library/keys/.htaccess
wp-content/plugins/akismet/.htaccess

#wp-config.php

## Cache
wp-content/cache/
wp-content/w3tc-config/
